# =====================
# Dependencies
# =====================
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =====================
# Build & Cache
# =====================
/.next/
/out/
/build
/dist
/.turbo/

# =====================
# Testing
# =====================
/coverage

# =====================
# Environment & Secrets
# =====================
.env*
*.pem

# =====================
# Misc
# =====================
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =====================
# Vercel
# =====================
.vercel

# =====================
# TypeScript
# =====================
*.tsbuildinfo
next-env.d.ts
